*,
*::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

img, a {
  display: block; }

.main-container {
  position: relative;
  min-height: 100vh; }

.cards {
  display: flex;
  margin-bottom: 40px; }

@media (max-width: 1110px) {
  .cards {
    flex-direction: column; } }
