@import "../../Assets/scss/config.scss";

footer {
  padding: 30px 0;
  background-color: $dark-blue;
  bottom: -85px;
  position: absolute;
  width: 100%;
}

footer p {
  text-align: center;
  color: $white;
  letter-spacing: -1px;
  font-weight: 700;
}

footer span {
  color: $aqua;
}
